* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 60px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar1 {
  width: 40%;
  height: 60px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar1 a {
  text-decoration: none;
  color: black;
}

.navbar2 {
  width: 20%;
  height: 60px;
  /* background-color: red; */
}
.navbar3 {
  width: 40%;
  height: 60px;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar3 a {
  text-decoration: none;
  color: black;
}
.navbar4 {
  width: 5%;
  height: 60px;
  /* background-color: brown; */
}
.navbar4 i {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 60px;
}

.navbar5 {
  width: 5%;
  height: 60px;
  /* background-color: brown; */
}
.navbar5 i {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 60px;
}
.main {
  width: 100%;
  height: 700px;
  /* background-color: brown; */
  display: flex;
  /* box-sizing: border-box; */
}
.main-img {
  width: 50%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-img img {
}
.main-p {
  width: 50%;
  height: 100%;
  /* background-color:green */
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-p .main-r {
  width: 100%;
  height: 700px;
  /* background-color: yellow; */
}
.main-m {
  width: 100%;
  height: 5%;
  /* background-color: red; */
  padding-left: 80px;
  display: flex;
  align-items: center;
}
.main-head {
  width: 100%;
  height: 55%;
  /* background-color: turquoise; */
  padding-left: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-bottom {
  width: 100%;
  height: 40%;
  /* background-color: green; */
  display: flex;
}
.main-bottom1 {
  width: 33.3%;
  height: 100%;
  /* background-color: grey; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-bottom1 p {
  color: brown;
}
.main-bottom1 img {
  width: 80%;
  height: 60%;
}
.main-bottom2 {
  width: 33.3%;
  height: 100%;
  /* background-color: purple; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-bottom2 p {
  color: brown;
}
.main-bottom2 img {
  width: 80%;
  height: 60%;
}
.main-bottom3 {
  width: 33.3%;
  height: 100%;
  /* background-color: tomato; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-bottom3 p {
  color: brown;
}
.main-bottom3 img {
  width: 80%;
  height: 60%;
}

.footer {
  width: 100%;
  height: 300px;
  /* background-color: green; */
  display: flex;
  /* margin: 0 10px; */
  box-sizing: border-box;
}
.foot1 {
  padding-top: 20px;
  width: 33.3%;
  height: 100%;
  /* background-color: greenyellow; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 35px;
  padding: 0 15px;
  margin-left: 20px;
}
.foot1 img {
  width: 70%;
  height: 60px;
}
.foot1-icon {
}

.foot2 {
  padding-top: 20px;
  width: 33.3%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 25px;
  padding: 0 100px;
}
.foot2 h3 {
  /* margin-top: 10px; */
  margin-bottom: 5px;
  /* background-color: blueviolet; */
  padding-left: 5px;
}
.foot21 {
  display: flex;
  /* background-color: aqua; */
  justify-content: space-between;
  /* padding: 80px 30px; */
}
.foot-left {
  float: right;
  padding-left: 5px;
}
.foot-right {
  text-align: right;
  padding-right: 5px;
}
.foot3 {
  padding-top: 20px;

  width: 33.3%;
  height: 100%;
  /* background-color: rgb(184, 15, 15); */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 15px;
}
.foot3 h3 {
  margin-top: 45px;
  margin-bottom: 5px;
  /* background-color: blueviolet; */
  padding-left: 40px;
}
.foot3-main {
  padding: 45px;
  display: flex;
  /* background-color: aqua; */
  flex-direction: column;
  padding-top: 45px;
}
.foot3-main p {
  width: 80%;
}
.foot3 input {
  width: 80%;
  height: 25px;
  /* border: none; */
  border-color: #797979;
  margin-top: 10px;
}
.foot3 button {
  width: 80%;
  height: 25px;
  border-radius: 50px;
  border: none;
  background-color: red;
  color: white;
  margin-top: 10px;
}
.foot3 button:hover {
  transform: scale(0.99);
  cursor: pointer;
}
.footer2 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer2 span {
  color: brown;
}
